@model IEnumerable<CONSULTORIO_DE_SEGUROS.Models.Seguros>

@{
    ViewData["Title"] = "Index";
}

<h1>SEGUROS</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreSeguro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoSeguro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumaAsegurada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prima)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSeguro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoSeguro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumaAsegurada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prima)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Details" class="btn btn-success btn-sm" asp-route-id="@item.Id"><i class="bi bi-card-checklist"></i></a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
